# C# / .NET
bin/
obj/
.vs/
*.user
*.suo

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Flutter / Android / iOS
/android/app/debug
/android/app/profile
/android/app/release

# IDE
*.iml
*.ipr
*.iws
.idea/
.atom/

# Sistema
.DS_Store

# Logs y temporales
*.log
*.pyc
*.swp
.history
.svn/
.swiftpm/
migrate_working_dir/

# Flutter
app.*.symbols
app.*.map.json
